<#include "../include/header.html">
<script type="text/javascript">
    var headerId = '${RequestParameters.headerId!0}';
    var queryFlag = '${RequestParameters.queryFlag!0}';
    var viewModel = Hap.createGridViewModel("#tabstrip-1,#tabstrip-2", {
        model: {},
        saveFunction: function () {
            //调用表单校验器中必输字段
            var b = $("#myForm").data("kendoValidator").validate();
            if (!b) {
                Hap.showToast({
                    type:"info",
                    message: $l('<@spring.message "头上存在必输字段未输！"/>')
                })
                return;
            }
            Hap.submitForm({
                url: '${base.contextPath}/hap/om/order/headers/submit',
                formModel: viewModel.model,
                grid: {"omOrderLinesList": $("#tabstrip-1,#tabstrip-2")},
                success: function (data) {
                    if (data.success) {
                        if (!headerId || headerId == 0) {
                            //回写主键
                            headerId = data.rows[0].headerId;
                            var win = parent.$("#orderDetailsWindow", parent.document).data("kendoWindow");
                            win.refresh();
                            win.close();
                        }
                        Hap.initEnterQuery('#query-form', viewModel.query);
                        Hap.showToast({
                            type: "success",
                            message: '<@spring.message "保存成功"/>'
                        });
                    }
                },
                failure: function (arg) {
                    Hap.showToast({
                        type: "error",
                        message: '<@spring.message "保存失败"/>'
                    });
                }
            });
        },
        createFunction: function () {
            $("#tabstrip-1").data("kendoGrid").addRow();
        },   //新加行
        backFunction: function () {
            var win = parent.$("#orderDetailsWindow", parent.document).data("kendoWindow");
            win.refresh();
            win.close();
        },     //返回按钮
        deleteAllFunction: function () {
            Hap.submitForm({
                url: "${base.contextPath}/hap/om/order/headers/headAndLineDelete",
                formModel: viewModel.model,
                success: function (data) {
                    //一直转
                }
            });
            var win = parent.$("#orderDetailsWindow", parent.document).data("kendoWindow");
            win.refresh();
            win.close();
        }, //头行删除
        documentPrintFunction: function () {
            printPDF();
        }


    });

    if (headerId == 0) {
        //新建
        viewModel.model.set("orderStatus", "NEW");

        //设置订单日期为当前日期
        viewModel.model.orderDate = new Date();
    }
    if (headerId != 0 && queryFlag == 1) {
        //查看状态
        Hap.initEnterQuery('#query-form', viewModel.query);
        viewModel.model.set("headerId", headerId);
        $.ajax({
            type: 'POST',
            url: '${base.contextPath}/hap/om/order/headers/query',
            data: {'headerId': headerId},
            success: function (result) {
                var row = result.rows[0] || {};
                for (var k in row) {
                    viewModel.model.set(k, row[k]);
                }
            }
        });
    }
    if (headerId != 0 && queryFlag == 2) {
        //编辑状态
        Hap.initEnterQuery('#query-form', viewModel.query);
        viewModel.model.set("headerId", headerId);
        $.ajax({
            type: 'POST',
            url: '${base.contextPath}/hap/om/order/headers/query',
            data: {'headerId': headerId},
            success: function (result) {
                var row = result.rows[0] || {};
                for (var k in row) {
                    viewModel.model.set(k, row[k]);
                }
            }
        });
    }

</script>

<body>
<script src="${base.contextPath}/common/code?orderStatusData=HAP_OM_ORDER_STATUS" type="text/javascript"></script>
<div id="page-content">
    <div class="panel" id="query-form" style="padding-bottom:10px;">
        <form class="form-horizontal" id="myForm">
            <div class="panel-body">
                <div class="row">
                    <!--销售订单号-->
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label class="col-xs-4 control-label">
                                <@spring.message "omorderheaders.ordernumber"/>
                            </label>

                            <!--后端自动生成订单号-->
                            <div class="col-xs-8">
                                <input id="orderNumber" disabled type="text" data-role="maskedtextbox"
                                       style="float:left;width: 150px;margin-right: 5px;"
                                       data-bind="value:model.orderNumber" class="k-textbox">
                            </div>
                        </div>
                    </div>
                    <!--公司名称lov-->
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label class="col-xs-4 control-label"><@spring.message
                                "omorderheaders.companyname"/></label>
                            <div class="col-xs-8">
                                <input id="companyId" required type="text"
                                       data-bind="value:model.companyId,text:model.companyName"
                                       style="margin-right: 5px;width: 150px">
                                <script>
                                    $("#companyId").kendoLov($.extend(${lovProvider.getLov(base.contextPath,base.locale,"SALES_COMPANY_NAME")}, {
                                        //在选择一项参数后，绑定companyId，并移除客户lov的禁用效果
                                        select: function () {
                                            $('#customerId').removeAttr("disabled");
                                            //清除客户名称框
                                            viewModel.model.customerId = undefined;
                                            $("#customerId").kendoLov($.extend(${lovProvider.getLov(base.contextPath,base.locale,"SALES_CUSTOMER_NAME")}, {
                                                query: function (e) {
                                                    e.param['companyId'] = viewModel.model.companyId;
                                                }
                                            }))
                                        }
                                    }))
                                </script>
                            </div>
                        </div>
                    </div>
                    <!--客户名称-->
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label class="col-xs-4 control-label"><@spring.message
                                "omorderheaders.customername"/></label>
                            <div class="col-xs-8">
                                <input id="customerId" type="text" disabled
                                       data-bind="value:model.customerId,text:model.customerName"
                                       style="margin-right: 5px;width: 150px">
                                <script>
                                    if (queryFlag == 1 || queryFlag == 2) {
                                        //查看和编辑时设置lov
                                        $("#customerId").kendoLov($.extend(${lovProvider.getLov(base.contextPath,base.locale,"SALES_CUSTOMER_NAME")}, {}))
                                    }
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!--订单日期-->
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label class="col-xs-4 control-label">
                                <@spring.message "sales.orderdate"/>
                            </label>
                            <div class="col-xs-8">
                                <input type="text" id="orderDate" required style="width: 150px;margin-right: 5px;"
                                       datefomat
                                       data-bind="value:model.orderDate">
                            </div>
                            <script>
                                $("#orderDate").kendoDatePicker({
                                    format: "{0:yyyy-MM-dd}",
                                }).data("kendoDatePicker");
                            </script>
                        </div>
                    </div>
                    <!--订单总金额-->
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label class="col-xs-4 control-label">
                                <@spring.message "sales.ordertotal"/>
                            </label>
                            <div class="col-xs-8">
                                <input id="orderTotal" name="orderTotal" type="text" data-role="maskedtextbox"
                                       style="float:left;width: 150px;margin-right: 5px;"
                                       class="k-textbox" disabled data-bind="value:model.orderTotal">
                            </div>
                        </div>
                    </div>
                    <!--订单状态-->
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label class="col-xs-4 control-label">
                                <@spring.message "omorderheaders.orderstatus"/>
                            </label>
                            <div class="col-xs-8">
                                <input id="orderStatus"
                                       style="margin-right: 5px;width: 150px" data-bind="value:model.orderStatus">
                                <script>
                                    $('#orderStatus').kendoComboBox({
                                        dataSource: orderStatusData,
                                        valuePrimitive: true,
                                        dataTextField: "meaning",
                                        dataValueField: "value",
                                        enable: false
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!--按钮-->
        <div class="row">
            <div id="btn-toolbar" class="col-xs-12">
                <span class="btn btn-default k-grid-add pull-left" data-bind="click:createFunction"
                      style="float: left;margin-right: 5px;"><@spring.message "hap.new"/></span>

                <span class="btn btn-default pull-left" data-bind="click:remove"
                      style="float: left;margin-right: 5px"><@spring.message "hap.delete"/></span>

                <span class="btn btn-default k-grid-save-changes" data-bind="click:saveFunction"
                      style="float:left;margin-right: 5px"><@spring.message "hap.save"/></span>

                <span id="submit" class="btn btn-default" data-bind="click:submitFunction"
                      style="float:left;margin-right: 5px"><@spring.message "hap.submit"/></span>

                <span id="approve" class="btn btn-default" data-bind="click:approvedFunction"
                      style="float:left;margin-right: 5px"><@spring.message "hap.approved"/></span>

                <span id="reject" class="btn btn-default" data-bind="click:rejectFunction"
                      style="float:left;margin-right: 5px"><@spring.message "hap.reject"/></span>

                <span class="btn btn-default" data-bind="click:deleteAllFunction"
                      style="float:left;margin-right: 5px"><@spring.message "hap.deleteall"/></span>

                <span class="btn btn-default" data-bind="click:documentPrintFunction"
                      style="float:left;margin-right: 5px"><@spring.message "hap.documentprint"/></span>

                <span class="btn btn-default" data-bind="click:backFunction"
                      style="float:left;margin-right: 5px"><@spring.message "hap.back"/></span>
            </div>
        </div>
    </div>
    <div style="clear:both">
        <div id="tabstrip">
            <ul>
                <li class="k-state-active">主要</li>
                <li>其他</li>
            </ul>
            <div id="mainGrid"></div>
            <div id="otherGrid"></div>
        </div>
        <!--<div id="grid"></div>-->
    </div>
</div>
</body>

<script type="text/javascript">
    kendo.bind($('#query-form'), viewModel);
    kendo.bind($('#btn-toolbar'), viewModel);
    Hap.initEnterQuery('#query-form', viewModel.query);

    $("#tabstrip").kendoTabStrip({
        animation: false,
        height: '100%'

    }).data("kendoTabStrip");

    var BaseUrl = _basePath;

    dataSource = new kendo.data.DataSource({
        transport: {
            read: {
                url: BaseUrl + "/hap/om/order/lines/query",
                type: "POST",
                dataType: "json"
            },
            update: {
                url: BaseUrl + "/hap/om/order/lines/submit",
                type: "POST",
                contentType: "application/json"
            },
            destroy: {
                url: BaseUrl + "/hap/om/order/lines/remove",
                type: "POST",
                contentType: "application/json"
            },
            create: {
                url: BaseUrl + "/hap/om/order/lines/submit",
                type: "POST",
                contentType: "application/json"
            },
            parameterMap: function (options, type) {
                if (type !== "read" && options.models) {
                    var datas = Hap.prepareSubmitParameter(options, type);
                    return kendo.stringify(datas);
                } else if (type === "read") {
                    return Hap.prepareQueryParameter({"headerId": headerId}, options);
                }
            }
        },
        batch: true,
        serverPaging: true,
        pageSize: 10,
        schema: {
            data: 'rows',
            total: 'total',
            model: {
                id: "lineId",
                fields: {
                    lineNumber: {
                        editable: false,
                        defaultValue: function () {
                            return setLineNumber() + 1;
                        },
                        validation: {required: true},
                    },
                    orderdQuantity: {
                        validation: {required: true},
                        type: "number"
                    },
                    unitSellingPrice: {
                        validation: {required: true},
                        type: "number"
                    },
                    description:{
                        validation: {required: true}
                    },
                    orderQuantityUom: {editable: false},
                    itemDescription: {editable: false},
                    lineAmountMoney: {
                        validation: {required: true},
                        editable: false,
                        type: "number"
                    }
                }
            }
        }
    });
    //设置行号
    function setLineNumber() {
        var record = 0;
        for (var i = 0; i < dataSource.data().length; i++) {
            if (dataSource.data()[i].lineNumber > record) {
                record = dataSource.data()[i].lineNumber;
            }
        }
        return record;
    }

    $("#tabstrip-1").kendoGrid({
        dataSource: dataSource,
        resizable: true,
        scrollable: true,
        navigatable: false,
        selectable: 'multiple, rowbox',
        dataBound: function () {
            if (parent.autoResizeIframe) {
                parent.autoResizeIframe('${RequestParameters.functionCode!}')
            }
        },
        pageable: {
            pageSizes: [5, 10, 20, 50],
            refresh: true,
            buttonCount: 5
        },
        columns: [
            {
                field: "lineNumber",
                title: '<@spring.message "omorderlines.linenumber"/>',
                width: 50

            },
            {
                field: "itemCode",
                title: '<@spring.message "omorderlines.inventoryitemcode"/>',
                width: 120,
                editor: function (container, options) {
                    $('<input name="' + options.field + '"/>').appendTo(container).kendoLov($.extend(${lovProvider.getLov(base.contextPath,base.locale,"SALES_ITEM_DESCRIPTION")}, {
                        select: function (e) {
                            var getItemCode = e.item.itemCode;
                            var getItemDescription = e.item.itemDescription;
                            var getItemUom = e.item.itemUom;

                            options.model.itemCode = getItemCode;
                            options.model.itemDescription = getItemDescription;
                            options.model.orderQuantityUom = getItemUom;
                            options.model.unitSellingPrice = e.item.unitSellingPrice;
                            options.model.inventoryItemId = e.item.inventoryItemId;
                            $("#tabstrip-1").data("kendoGrid").refresh();
                        }
                    }))
                }

            },
            {
                field: "itemDescription",
                title: '<@spring.message "omorderlines.inventoryitemdescription"/>',
                width: 120
            },
            {
                field: "orderQuantityUom",
                title: '<@spring.message "omorderlines.orderquantityuom"/>',
                width: 120
            },
            {
                field: "orderdQuantity",
                title: '<@spring.message "omorderlines.orderdquantity"/>',
                width: 120,
                editor: function (container, options) {
                    $('<input id="orderdQuantity" type="text" name="' + options.field + '"/>').appendTo(container);
                    $("#orderdQuantity").kendoNumericTextBox({
                        decimal: 2,
                        change: function () {
                            if (options.model.unitSellingPrice != undefined) {
                                container.next().next().html((options.model.unitSellingPrice * options.model.orderdQuantity).toFixed(2));
                                $("#orderTotal").val(lineAmountMoney());

                            }
                        }
                    });
                }
            },
            {
                field: "unitSellingPrice",
                title: '<@spring.message "omorderlines.unitsellingprice"/>',
                width: 120,
                editor: function (container, options) {
                    $('<input id="unitSellingPrice" type="text" name="' + options.field + '"/>').appendTo(container);
                    $("#unitSellingPrice").kendoNumericTextBox({
                        decimal: 2,
                        change: function () {
                            if (options.model.orderdQuantity != undefined) {
                                container.next().html((options.model.unitSellingPrice * options.model.orderdQuantity).toFixed(2));
                                $("#orderTotal").val(lineAmountMoney());

                            }
                        }
                    });
                }
            },
            {
                field: "lineAmountMoney",
                title: '<@spring.message "hap.lineamountmoney"/>',
                width: 120,
            },
            {
                field: "description",
                title: '<@spring.message "hap.comment"/>',
                width: 120
            }
        ],
        editable: queryFlag == 1 ? false : true
    });

    $("#tabstrip-2").kendoGrid({
        dataSource: dataSource,
        resizable: true,
        scrollable: true,
        navigatable: false,
        selectable: 'multiple, rowbox',
        dataBound: function () {
            if (parent.autoResizeIframe) {
                parent.autoResizeIframe('${RequestParameters.functionCode!}')
            }
        },
        pageable: {
            pageSizes: [5, 10, 20, 50],
            refresh: true,
            buttonCount: 5
        },
        columns: [
            {
                field: "lineNumber",
                title: '<@spring.message "omorderlines.linenumber"/>',
                width: 50

            },
            {
                field: "addition1",
                title: '<@spring.message "omorderlines.addition1"/>',
                width: 120
            },
            {
                field: "addition2",
                title: '<@spring.message "omorderlines.addition2"/>',
                width: 120
            },
            {
                field: "addition3",
                title: '<@spring.message "omorderlines.addition3"/>',
                width: 120
            },
            {
                field: "addition4",
                title: '<@spring.message "omorderlines.addition4"/>',
                width: 120
            },
            {
                field: "addition5",
                title: '<@spring.message "omorderlines.addition5"/>',
                width: 120
            },
        ],
        editable: true
    });

    function lineAmountMoney() {
        var totalPrice = 0;
        for (var i = 0; i < dataSource.data().length; i++) {
            totalPrice = totalPrice + dataSource.data()[i].orderdQuantity * dataSource.data()[i].unitSellingPrice;
        }
        return totalPrice;
    }

    window.onload = function () {
        var validator = $("#myForm").kendoValidator({
            messages: {
                required: '<@spring.message "必输"/>',
            },
            rules: {}
        }).data("kendoValidator");
        setCustomerStatus();
    }

    function setCustomerStatus() {
        if (viewModel.model.companyId == undefined) {
            //此时公司id不存在，禁止选择
            $('#customerId').attr("disabled", true);
            $("#customerId").kendoLov($.extend(${lovProvider.getLov(base.contextPath,base.locale,"SALES_CUSTOMER_NAME")}, {}))
        }
    }

    //pdf打印
    function printPDF() {
        html2canvas(
        document.getElementById("page-content"), {
            dpi: 172,//导出pdf的清晰度
            onrendered: function (canvas) {

                var contentWidth = canvas.width;
                var contentHeight = canvas.height;

                //一页pdf显示html页面生成的canvas高度;
                var pageHeight = contentWidth / 592.28 * 841.89;

                //未生成pdf的html页面高度
                var leftHeight = contentHeight;

                //pdf页面偏移
                var position = 0;

                //html页面生成的canvas在pdf中图片的宽高（a4纸的尺寸[595.28,841.89]）
                var imgWidth = 595.28;
                var imgHeight = 592.28 / contentWidth * contentHeight;

                var pageData = canvas.toDataURL('image/jpeg', 1.0);
                var pdf = new jsPDF('', 'pt', 'a4');


                //有两个高度需要区分，一个是html页面的实际高度，和生成pdf的页面高度(841.89)
                //当内容未超过pdf一页显示的范围，无需分页
                if (leftHeight < pageHeight) {
                    pdf.addImage(pageData, 'JPEG', 0, 0, imgWidth, imgHeight);
                } else {
                    while (leftHeight > 0) {
                        pdf.addImage(pageData, 'JPEG', 0, position, imgWidth, imgHeight)
                        leftHeight -= pageHeight;
                        position -= 841.89;
                        //避免添加空白页
                        if (leftHeight > 0) {
                            pdf.addPage();
                        }
                    }
                }
                pdf.save('PDF打印.pdf');
            },
            //背景设为白色（默认为黑色）
            background: "#fff"
        });
    }
</script>
<script src="https://cdn.bootcss.com/html2canvas/0.5.0-beta4/html2canvas.js"></script>
<script src="https://cdn.bootcss.com/jspdf/1.4.0/jspdf.debug.js"></script>

</html>