<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hbi.sales.mapper.OmOrderHeadersMapper">
    <resultMap id="BaseResultMap" type="hbi.sales.dto.OmOrderHeaders">
        <result column="HEADER_ID" property="headerId" jdbcType="DECIMAL" />
        <result column="ORDER_NUMBER" property="orderNumber" jdbcType="VARCHAR" />
        <result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL" />
        <result column="ORDER_DATE" property="orderDate" jdbcType="DATE" />
        <result column="ORDER_STATUS" property="orderStatus" jdbcType="VARCHAR" />
        <result column="CUSTOMER_ID" property="customerId" jdbcType="DECIMAL" />
    </resultMap>
    <resultMap id="MySelectCompanyAndCustomerMap" type="hbi.sales.dto.OmOrderHeaders">
        <result column="HEADER_ID" property="headerId" jdbcType="DECIMAL" />
        <result column="ORDER_NUMBER" property="orderNumber" jdbcType="VARCHAR" />
        <result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL" />
        <result column="ORDER_DATE" property="orderDate" jdbcType="DATE" />
        <result column="ORDER_STATUS" property="orderStatus" jdbcType="VARCHAR" />
        <result column="CUSTOMER_ID" property="customerId" jdbcType="DECIMAL" />
        <result property="companyName" column="COMPANY_NAME" jdbcType="VARCHAR"></result>
        <result property="customerName" column="CUSTOMER_NAME" jdbcType="VARCHAR"></result>
        <result property="orderTotal" column="ORDER_TOTAL" jdbcType="DECIMAL"></result>

    </resultMap>

    <select id="selectCompanyAndCustomer" resultMap="MySelectCompanyAndCustomerMap"
            parameterType="hbi.sales.dto.OmOrderHeaders">

        SELECT
        headers.header_id,
        headers.company_id,
        headers.customer_id,
        headers.order_number,
        headers.order_date,
        headers.order_status,
        headers.creation_date,
        companys.company_name,
        customers.customer_name,
        SUM(orderlines.ORDERD_QUANTITY*orderlines.UNIT_SELLING_PRICE) orderTotal

        FROM
        hap_om_order_headers  headers
        LEFT JOIN hap_org_companys companys
        ON headers.company_id = companys.company_id
        LEFT JOIN  hap_ar_customers customers
        ON headers.customer_id = customers.customer_id
        LEFT JOIN  hap_om_order_lines orderlines
        ON headers.header_id = orderlines.header_id

        <trim prefix="WHERE" prefixOverrides="AND |OR ">

            <!-- 公司id -->
            <if test="companyId != null">
                AND companys.company_id = #{companyId}
            </if>
            <!-- 客户id -->
            <if test="customerId != null">
                AND customers.customer_id = #{customerId}
            </if>
            <!-- 订单销售号 -->
            <if test="orderNumber != null">
                AND headers.order_number = #{orderNumber}
            </if>

            <!-- 订单状态 -->
            <if test="orderStatus != null">
                AND headers.order_status = #{orderStatus}
            </if>

            <if test="headerId != null">
                AND headers.header_id = #{headerId}
            </if>

        </trim>
        GROUP BY headers.header_id
        ORDER BY headers.header_id
    </select>


</mapper>