<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hbi.sales.mapper.OmOrderLinesMapper">
    <resultMap id="BaseResultMap" type="hbi.sales.dto.OmOrderLines">
        <result column="LINE_ID" property="lineId" jdbcType="DECIMAL" />
        <result column="HEADER_ID" property="headerId" jdbcType="DECIMAL" />
        <result column="LINE_NUMBER" property="lineNumber" jdbcType="DECIMAL" />
        <result column="INVENTORY_ITEM_ID" property="inventoryItemId" jdbcType="DECIMAL" />
        <result column="ORDERD_QUANTITY" property="orderdQuantity" jdbcType="DECIMAL" />
        <result column="ORDER_QUANTITY_UOM" property="orderQuantityUom" jdbcType="VARCHAR" />
        <result column="UNIT_SELLING_PRICE" property="unitSellingPrice" jdbcType="DECIMAL" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL" />
        <result column="ADDITION1" property="addition1" jdbcType="VARCHAR" />
        <result column="ADDITION2" property="addition2" jdbcType="VARCHAR" />
        <result column="ADDITION3" property="addition3" jdbcType="VARCHAR" />
        <result column="ADDITION4" property="addition4" jdbcType="VARCHAR" />
        <result column="ADDITION5" property="addition5" jdbcType="VARCHAR" />
        <result column="ITEM_CODE" property="itemCode" jdbcType="VARCHAR" />
        <result column="ITEM_DESCRIPTION" property="itemDescription" jdbcType="VARCHAR" />
        <result column="LINE_AMOUNT_MONEY" property="lineAmountMoney" jdbcType="DECIMAL" />

    </resultMap>
    <select id="mySelect" parameterType="hbi.sales.dto.OmOrderLines" resultMap="BaseResultMap">
        SELECT
        LINE_ID,
        LINE_NUMBER,
        COMPANY_ID,
        item.ITEM_CODE ,
        item.ITEM_DESCRIPTION,
        DESCRIPTION,
        ORDERD_QUANTITY*UNIT_SELLING_PRICE lineAmountMoney ,
        ORDERD_QUANTITY ,
        ORDER_QUANTITY_UOM ,
        UNIT_SELLING_PRICE ,
        ADDITION1 ,
        ADDITION2,
        ADDITION3,
        ADDITION4,
        ADDITION5
        FROM  hap_om_order_lines orderlines
        LEFT JOIN hap_inv_inventory_items item on orderlines.INVENTORY_ITEM_ID = item.INVENTORY_ITEM_ID

        <trim prefix="WHERE" prefixOverrides="AND |OR ">

            <if test="headerId != null">
                AND HEADER_ID = #{headerId}
            </if>

        </trim>
    </select>


</mapper>